/**
* Doppler for LearnPress styles v1.0.0
*
*/

.dplr_settings .dplr-tab-content.dplr-learnpress-tab {
	.col-68 {
		width: 68%;
	}

	.mt10 {
		margin-top: 10px;
	}

	#dplr-form-list-new input[type="text"] {
		width: 200px;
	}

	select {
		background: white;
	}

	.pl-0 {
		padding-left: 0px;
	}
}
